<div class="flex flex-col gap-4">
  <a routerLink="../">
    <ng-icon name="heroArrowLeft"></ng-icon>
  </a>


  <ng-container *ngIf="categories.length; else noCategories">
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-4" *ngFor="let c of categories">
        <div class="white-list-item">{{c}}</div>
        <button>
          <ng-icon name="heroNoSymbol"></ng-icon>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #noCategories>
    <div class="text-center">
      Nie posiadasz żadnej kategorii
    </div>
  </ng-template>


</div>
